<div class="header__top">
    <div class="header__top-item d-block d-sm-flex">
        <ul class="header__list-left">
            <li class="header__left-item">
                <img src="image/icon/header_icon1.png" alt="">34ºc, Sunny
            </li>
            <li class="header__left-item">
                <img src="image/icon/header_icon2.png" alt="">Tuesday, 18th June, 2019
            </li>
        </ul>
        <ul class="header__list-right">
            <li class="header__right-item header__right-item--strong header__right-item header__right-item--separate">
                
            </li>
            <li class="header__right-item header__right-item--strong">
                Đăng ký
            </li>
        </ul>
    </div>
</div>
<div class="header__middle">
    <div class="header_middleleft">
        <div class="header-info-left">
            <ul class="header-social  d-block d-md-flex flex-md-row align-items-center">
                <li><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest-p fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="header__logo">
        <a href="/" title="Báo thanh niên" class="header__logo logo-fix">
            <img class="logo-thuong" alt="Báo thanh niên"
                src="https://static.thanhnien.com.vn/thanhnien.vn/image/logo.svg" width="220px" height="63px">
        </a>
    </div>
    <div class="header_middleright d-flex ">
        <form class="header_middle-search d-flex" role="search">
            <input class="header-search-text form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>
<div class="grid">
    <div class="header__bottom">
        <nav class="header__nav">
            <ul class="header__nav--list">
                <li class="header__nav--items">
                    <a href="#" class="header_Home" id="headder_category1">
                        <h3 class="header_category">Chính trị</h3>
                    </a>
                    <div class="header_submenu ">
                        <div class="header_submenu-item">
                            <a href="#" class="header_submenu-category">Chính trị</a>
                            <ul class="header_submenu-categoryitems">
                                <li class="header_submenu-categoryitem" id="header_category-item1-1">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item1-2">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item1-3">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item1-4">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item1-5">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item1-6">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item1-7">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item1-8">a</li>
                            </ul>
                        </div>
                        <div class="header_categorytrend">
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend1-img1">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>
                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend1-img2">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend1-img3">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="header__nav--items">
                    <a href="#" class="header_Home" id="headder_category2">
                        <h3 class="header_category">Chính trị</h3>
                    </a>
                    <div class="header_submenu ">
                        <div class="header_submenu-item">
                            <a href="#" class="header_submenu-category">Chính trị</a>
                            <ul class="header_submenu-categoryitems">
                                <li class="header_submenu-categoryitem" id="header_category-item2-1">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item2-2">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item2-3">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item2-4">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item2-5">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item2-6">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item2-7">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item2-8">a</li>
                            </ul>
                        </div>
                        <div class="header_categorytrend">
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend2-img1">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>
                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend2-img2">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend2-img3">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="header__nav--items">
                    <a href="#" class="header_Home" id="headder_category3`">
                        <h3 class="header_category">Chính trị</h3>
                    </a>
                    <div class="header_submenu ">
                        <div class="header_submenu-item">
                            <a href="#" class="header_submenu-category">Chính trị</a>
                            <ul class="header_submenu-categoryitems">
                                <li class="header_submenu-categoryitem" id="header_category-item3-1">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item3-2">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item3-3">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item3-4">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item3-5">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item3-6">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item3-7">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item3-8">a</li>
                            </ul>
                        </div>
                        <div class="header_categorytrend">
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend3-img1">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>
                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend3-img2">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend3-img3">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="header__nav--items">
                    <a href="#" class="header_Home" id="headder_category4">
                        <h3 class="header_category">Chính trị</h3>
                    </a>
                    <div class="header_submenu ">
                        <div class="header_submenu-item">
                            <a href="#" class="header_submenu-category">Chính trị</a>
                            <ul class="header_submenu-categoryitems">
                                <li class="header_submenu-categoryitem" id="header_category-item4-1">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item4-2">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item4-3">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item4-4">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item4-5">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item4-6">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item4-7">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item4-8">a</li>
                            </ul>
                        </div>
                        <div class="header_categorytrend">
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend4-img1">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>
                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend4-img2">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend4-img3">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="header__nav--items">
                    <a href="#" class="header_Home" id="headder_category5">
                        <h3 class="header_category">Chính trị</h3>
                    </a>
                    <div class="header_submenu ">
                        <div class="header_submenu-item">
                            <a href="#" class="header_submenu-category">Chính trị</a>
                            <ul class="header_submenu-categoryitems">
                                <li class="header_submenu-categoryitem" id="header_category-item5-1">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item5-2">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item5-3">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item5-4">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item5-5">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item5-6">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item5-7">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item5-8">a</li>
                            </ul>
                        </div>
                        <div class="header_categorytrend">
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend5-img1">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>
                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend5-img2">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend5-img3">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="header__nav--items">
                    <a href="#" class="header_Home" id="headder_category6">
                        <h3 class="header_category">Chính trị</h3>
                    </a>
                    <div class="header_submenu ">
                        <div class="header_submenu-item">
                            <a href="#" class="header_submenu-category">Chính trị</a>
                            <ul class="header_submenu-categoryitems">
                                <li class="header_submenu-categoryitem" id="header_category-item6-1">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item6-2">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item6-3">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item6-4">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item6-5">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item6-6">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item6-7">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item6-8">a</li>
                            </ul>
                        </div>
                        <div class="header_categorytrend">
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend6-img1">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>
                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend6-img2">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend6-img3">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="header__nav--items">
                    <a href="#" class="header_Home" id="headder_category7">
                        <h3 class="header_category">Chính trị</h3>
                    </a>
                    <div class="header_submenu ">
                        <div class="header_submenu-item">
                            <a href="#" class="header_submenu-category">Chính trị</a>
                            <ul class="header_submenu-categoryitems">
                                <li class="header_submenu-categoryitem" id="header_category-item7-1">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item7-2">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item7-3">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item7-4">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item7-5">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item7-6">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item7-7">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item7-8">a</li>
                            </ul>
                        </div>
                        <div class="header_categorytrend">
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend7-img1">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>
                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend7-img2">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend7-img3">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="header__nav--items">
                    <a href="#" class="header_Home" id="headder_category8">
                        <h3 class="header_category">Chính trị</h3>
                    </a>
                    <div class="header_submenu ">
                        <div class="header_submenu-item">
                            <a href="#" class="header_submenu-category">Chính trị</a>
                            <ul class="header_submenu-categoryitems">
                                <li class="header_submenu-categoryitem" id="header_category-item8-1">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item8-2">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item8-3">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item8-4">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item8-5">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item8-6">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item8-7">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item8-8">a</li>
                            </ul>
                        </div>
                        <div class="header_categorytrend">
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend8-img1">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>
                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend8-img2">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend8-img3">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="header__nav--items">
                    <a href="#" class="header_Home" id="headder_category9">
                        <h3 class="header_category">Chính trị</h3>
                    </a>
                    <div class="header_submenu ">
                        <div class="header_submenu-item">
                            <a href="#" class="header_submenu-category">Chính trị</a>
                            <ul class="header_submenu-categoryitems">
                                <li class="header_submenu-categoryitem" id="header_category-item9-1">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item9-2">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item9-3">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item9-4">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item9-5">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item9-6">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item9-7">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item9-8">a</li>
                            </ul>
                        </div>
                        <div class="header_categorytrend">
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend9-img1">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>
                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend9-img2">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend9-img3">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="header__nav--items">
                    <a href="#" class="header_Home" id="headder_category10">
                        <h3 class="header_category">Chính trị</h3>
                    </a>
                    <div class="header_submenu ">
                        <div class="header_submenu-item">
                            <a href="#" class="header_submenu-category">Chính trị</a>
                            <ul class="header_submenu-categoryitems">
                                <li class="header_submenu-categoryitem" id="header_category-item10-1">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item10-2">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item10-3">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item10-4">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item10-5">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item10-6">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item10-7">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item10-8">a</li>
                            </ul>
                        </div>
                        <div class="header_categorytrend">
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend10-img1">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>
                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend10-img2">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend10-img3">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="header__nav--items">
                    <a href="#" class="header_Home" id="headder_category11">
                        <h3 class="header_category">Chính trị</h3>
                    </a>
                    <div class="header_submenu ">
                        <div class="header_submenu-item">
                            <a href="#" class="header_submenu-category">Chính trị</a>
                            <ul class="header_submenu-categoryitems">
                                <li class="header_submenu-categoryitem" id="header_category-item11-1">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item11-2">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item11-3">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item11-4">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item11-5">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item11-6">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item11-7">a</li>
                                <li class="header_submenu-categoryitem" id="header_category-item11-8">a</li>
                            </ul>
                        </div>
                        <div class="header_categorytrend">
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend11-img1">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>
                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend11-img2">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                            <div class="header_categorytrend-item">
                                <div class="header_categorytrend-img" id="header_categorytrend11-img3">
                                    <div class="newsimg">
                                        <img src="image\newsimg\sanbaylongthanh.jpg" alt=""
                                            class="header_categorytrend-img">
                                    </div>

                                </div>
                                <div>
                                    <h4 class="header_categorytrend-caption">
                                        alo hoom nay ngày tuyệt vời
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <div class="grid">

                </div>
        </nav>
    </div>
</div>