<div class="header__top">
    <ul class="header__list-left">
        <li class="header__left-item">
            Hôm nay đọc báo
        </li>
        <li class="header__left-item">
            <a href="#" class="header__left-link">hi</a>
        </li>
        <li class="header__left-item">
            <a href="#" class="header__left-link">hihi </a>
        </li>
    </ul>
    <div class="header__top--logo">
        <a href="/" title="Báo thanh niên" class="header__logo logo-fix">
            <img class="logo-thuong" alt="Báo thanh niên" src="https://static.thanhnien.com.vn/thanhnien.vn/image/logo.svg" width="220px" height="63px">
        </a>
    </div>
    <ul class="header__list-right">
        <li class="header__right-item">
            <a href="#" class="header__right-link">haha</a>
        </li>
        <li class="header__right-item header__right-item--strong">
            Đăng nhập
        </li>
        <li class="header__right-item header__right-item--strong">
            Đăng ký
        </li>
    </ul>
</div>