<div class="trending-area">
    <div class="row">
        <div class="col-lg-12">
            <div class="trending-tittle">
                <strong>Trending now</strong>
                <div class="trending-animated">
                    <ul id="js-news" class="js-hidden">
                        <li class="news-item">Bangladesh dolor sit amet, consectetur adipisicing elit.</li>
                        <li class="news-item">Spondon IT sit amet, consectetur.......</li>
                        <li class="news-item">Rem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="trending-top mb-30">
                <div class="trend-top-img">
                    <img src="image/newsimg/sanbaylongthanh.jpg" alt="">
                    <div class="trend-top-cap">
                        <span>Tin tức</span>
                        <h2><a href="details.html"> Tổng Bí thư: Trung ương làm gương,
                                <br>địa phương hưởng ứng khi sắp xếp bộ máy</a></h2>
                    </div>
                </div>
            </div>
            <div class="trending-bottom">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-bottom mb-35">
                            <div class="trend-bottom-img mb-30">
                                <img src="image/newsimg/sanbaylongthanh.jpg" alt="">
                            </div>
                            <div class="trend-bottom-cap">
                                <span class="color1">Bất động sản</span>
                                <h4><a href="details.html">Long Thành và Nhơn Trạch được quy hoạch là đô thị sân bay</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-bottom mb-35">
                            <div class="trend-bottom-img mb-30">
                                <img src="image/newsimg/sanbaylongthanh.jpg" alt="">
                            </div>
                            <div class="trend-bottom-cap">
                                <span class="color2">Thể thao</span>
                                <h4>
                                    <h4><a href="details.html">Tuyển Việt Nam bổ sung tiền đạo nhập tịch Nguyễn Xuân
                                            Son</a></h4>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-bottom mb-35">
                            <div class="trend-bottom-img mb-30">
                                <img src="image/newsimg/sanbaylongthanh.jpg" alt="">
                            </div>
                            <div class="trend-bottom-cap">
                                <span class="color3">Đời sống</span>
                                <h4><a href="details.html"> Ba chỉ luộc kèm giấm ghém kiểu cổ</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="trand-right-single d-flex">
                <div class="trand-right-img">
                    <img class="img-right" src="image/newsimg/sanbaylongthanh.jpg"
                        alt="">
                </div>
                <div class="trand-right-cap">
                    <span class="color1">Thế giới</span>
                    <h4><a class="content-right" href="details.html">Ông Putin duyệt ngân sách quốc phòng kỷ lục 126 tỷ
                            USD</a></h4>
                </div>
            </div>

            <div class="trand-right-single d-flex">
                <div class="trand-right-img">
                    <img class="img-right" src="image/newsimg/sanbaylongthanh.jpg" alt="">
                </div>
                <div class="trand-right-cap">
                    <span class="color1">Tin tức</span>
                    <h4><a class="content-right" href="details.html">
                            Tổng Bí thư: Trung ương làm gương,
                            địa phương hưởng ứng khi sắp xếp bộ máy</a></h4>
                </div>
            </div>

            <div class="trand-right-single d-flex">
                <div class="trand-right-img">
                    <img class="img-right" src="image/newsimg/sanbaylongthanh.jpg"
                        alt="">
                </div>
                <div class="trand-right-cap">
                    <span class="color1">Tin tức</span>
                    <h4><a class="content-right" href="details.html">
                            Tổng Bí thư: Trung ương làm gương,
                            địa phương hưởng ứng khi sắp xếp bộ máy</a></h4>
                </div>
            </div>

            <div class="trand-right-single d-flex">
                <div class="trand-right-img">
                    <img class="img-right" src="image/newsimg/sanbaylongthanh.jpg" alt="">
                </div>
                <div class="trand-right-cap">
                    <span class="color1">Bất động sản</span>
                    <h4><a class="content-right" href="details.html">
                            Diện mạo đường rộng 10 làn quy hoạch làm Vành đai 4 TP HCM</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>