.header{
  height: 120px;
  background-color: #fff;
  
}
.header__top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__left-item,.header__right-item{
  margin: 5px 5px;
  display: inline-block;
  font-size: 1.6rem;
}
.header__left-item:hover,.header__right-item:hover{
  cursor: pointer;
}
.header__right-item--strong{
  font-weight: 700;
}
li{
  list-style: none;
}
